.todo-form{
    display: grid;
    grid-template-columns: 2fr 0.4fr;
    gap: 0;
}
.todo-input{
    padding-left: 9px;
    height: 3rem;
    width: 100%;
    border-radius: 0.4rem 0 0 0.4rem;
    border: none;
}
label input:focus-within {
    border: 1.5px solid #2d79f3;
}
label textarea {
    resize: none;
    height: 100px;
}
textarea:focus-within {
    border: 1.5px solid #2d79f3;
}
select:focus-within {
    border: 1.5px solid #2d79f3;
}
.button-submit:hover {
    background-color: #1b1c1c;
}
  
