.todo-form{
    display: grid;
    grid-template-columns: 2fr 0.4fr;
    gap: 0;
}
.todo-input{
    padding-left: 9px;
    height: 3rem;
    width: 100%;
    border-radius: 0.4rem 0 0 0.4rem;
    border: none;
}
.buttonClass{
    height: 3rem;
    width: 6.5rem;
    background-color: rgb(185, 185, 185);
    border-radius: 0 0.4rem 0.4rem 0;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}
label input:focus-within {
    border: 1.5px solid #2d79f3;
}
label textarea {
    resize: none;
    height: 100px;
  }
textarea:focus-within {
    border: 1.5px solid #2d79f3;
}
select:focus-within {
    border: 1.5px solid #2d79f3;
}
.button-submit:hover {
    background-color: #1b1c1c;
  }
  
.hello::-webkit-scrollbar {
    width: 0.1rem;
}
.hello::-webkit-scrollbar-thumb {
    background: #d4d4d4; 
    border-radius: 10px;
}
  ul{
    transition: all 0.4s linear;
  }
  /* .main-bar{
    box-shadow: inset 0px -30px 30px -10px rgba(189, 142, 142, 0.9); 

  } */
  .main-bar {
    position: relative;
    box-shadow: inset 0px -20px 20px -10px rgba(0, 0, 0, 0.8); /* Default inset shadow */
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .main-bar.shadow-visible {
    box-shadow: inset 0px -30px 30px -10px rgba(0, 0, 0, 0.9); /* Stronger shadow when scrolling */
  }
  
  @media screen and (max-width:560px){
    .register-cont{
        align-items: end;
    }
    .register-cont form{
        width: 100%;
    } 
    .register-cont form input{
        width: 100%;
    }
    .register-cont form label h1{
        text-align: center;
    }
}
@media screen and (max-width:480px){
    .colsLine{
        grid-column-start: 1;
        grid-row-end: 5;
    }
    footer{
        display: none;
    }
}