  .wrapper {
    --ch-black: #141414;
    --eer-black: #216216;
    --night-rider: #272727;
    --white: #282828;
    --af-white: #cccccc;
    --ch-white: #575757;
  }  
  .circle {
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--night-rider);
    transition: 0.2s;
  }
  .circle:active {
    transform: scale(0.9);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
  }
  
  .circle:hover {
    background-color: var(--night-rider);
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
  }

  .hidden-trigger:checked ~ .circle {
    transform: scale(0.75);
    box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.51);
  }
  
