*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.backGroundImg{
    background-image: url('./assets/th.jpeg');
    background-size: cover;
    background-position: center;
}


@media screen and (max-width:850px) {
    .cont{
        /* background-color: red; */
        grid-template-columns:0.8fr 3fr ;
    }
    .calender{
        display: none;
    }
    .head{
        grid-column-end: 3;
    }
}
@media screen and (max-width:480px){
    .cont{
        grid-template-columns:0fr 1fr 0fr;
    }
    .sideBar{
        display: none;
    }
}