.dashboard{
    grid-template-columns: 0.37fr 2.5fr 0.8fr;
}
.isSideBarDashBoard{
    grid-template-columns: 0.2fr 2.5fr 0.82fr;
}

@media screen and (max-width:1200px) {
    .dashboard{
        grid-template-columns: 0.37fr 1.8fr 0.9fr;
    }
    .isSideBarDashBoard{
        grid-template-columns: 0.2fr 1.8fr 0.9fr;
    }
}
@media screen and (max-width:1000px) {
    .dashboard{
        grid-template-columns: 0.37fr 1.8fr 1fr;
    }
    .isSideBarDashBoard{
        grid-template-columns: 0.2fr 1.8fr 1fr;
    }
}
@media screen and (max-width:850px) {
    .dashboard{
        grid-template-columns: 0.37fr 1.8fr 1fr;
    }
    .isSideBarDashBoard{
        grid-template-columns: 0.2fr 1.8fr 1fr;
    }
}
@media screen and (max-width:820px) {
    .dashboard{
        grid-template-columns: 0.37fr 1.8fr;
    }
    .isSideBarDashBoard{
        grid-template-columns: 0.2fr 1.8fr;
    }
    .calender{
        display: none;
    }
    .head{
        grid-column-end: 3;
    }
}
@media screen and (max-width:560px){
    .dashboard{
        grid-template-columns: 0fr 2fr 0fr;
    }
    .sideBar{
        display: none;
    }
}